 .navbar-brand {
     color: darkgoldenrod;
 }
.jumbotron {
    background: url(https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 400px;
}
.inner-container{
    background: #0000005b;
    color: #fafafa;
    width: 700px;
    min-height: 200px;
 }
 .text-center {
     margin-top: 10px;
 }
.dropdown-container-center{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
 select {
     max-width: 110px;
     height: fit-content;
 }
 button {
     background-color: #000000;
     color: #fafafa;
     height:  fit-content;
     border-radius: 10px;
 }
 button :hover {
     color: darkgoldenrod;
     border: solid #9a9a9a;
 }
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 360px){
                               
}
.card {
    margin: 10px;
    width: 350px;
    height: max-content;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    border: 1px  #000000;
}
.card-img {
    margin: 0;
    width: 350px;
    height:250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card-img :hover {
    transition: ease-in-out;
    transform: scaleY(-10);
}
.title {
    padding: 5px;
}

ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 2px;
}

.card-img-overlay {
    margin: 5px;
    width: max-content;
    height: 5px;
    background-color: #000000;
    color: #fafafa;
    text-align: justify;
}
.card-footer {
    height: 50px;
    justify-content: space-between;
}
ul li img {
    padding: 10px;
}